{% extends "base.html" %}
{% load static %}


{% block page_header%}
<div class="container header-container d-none">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}


{% block content %}
<div></div>
<div id="index" class="container h-100 w-100">
    <div class="row h-100">
        <div class="col-12 my-auto ml-md-0 mr-md-0 px-0">
            <div class="my-auto">
                <h1 class="display-4 text-white charmonman-title">
                    your<br> <span class="eg-font text-uppercase">English grows</span><br> <span class="ml-5">anywhere</span>
                </h1>    
            </div>
            <div class="my-5">
                <div class="row">
                    <div class="col-12 col-lg-4 mb-4 text-center text-sm-left mt-2 px-0">
                        <h2>
                            <a href="{% url 'companies' %}" class="index-cta-button btn btn-lg rounded-pill text-uppercase py-3" aria-label="go to the companies section to request a tailored plan for your enterprise">For Companies</a>
                        </h2>
                    </div>
                    <div class="col-12 col-lg-4 text-center text-sm-left mt-2 px-0">
                        <h2>
                            <a href="{% url 'individual_services' %}" class="index-cta-button btn btn-lg rounded-pill text-uppercase py-3" aria-label="go to the section with services tailored for inividuals">For You</a>
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}