<div class="collapse navbar-collapse pl-1 order-last" id="main-nav" >
    <div class="col-lg-8">
        <ul class="navbar-nav col-12">
            <li class="nav-item d-block d-md-none">
                <a class="text-uppercase nav-link text-white mr-5" href="{% url 'home' %}" id="home-link" aria-label="go to the home page">
                    Home
                </a>
            </li>
            <li class="nav-item dropdown col-12 col-lg-4">
                <a class="text-uppercase nav-link text-white mr-5" href="#" id="all-services-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    All Packs
                </a>
                <div class="dropdown-menu border-0" aria-labelledby="all-services-link">
                    <a href="{% url 'individual_services' %}?sort=price&direction=asc" class="dropdown-item" aria-label="sort services by price">By Price</a>
                    <a href="{% url 'individual_services' %}?sort=type&direction=asc" class="dropdown-item" aria-label="sort services by type">By Type</a>
                    <a href="{% url 'individual_services' %}" class="dropdown-item" aria-label="show all services">All Services</a>
                </div>
            </li>
    
            <li class="nav-item dropdown col-12 col-lg-4">
                <a class="text-uppercase nav-link text-white mr-5" href="#" id="individual-packs-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Individual
                </a>
                <div class="dropdown-menu border-0" aria-labelledby="individual-packs-link">
                    <a href="{% url 'individual_services' %}?type=individuals_private" class="dropdown-item" aria-label="Only how regular private individual lesson packs">Private Lesson Packs</a>
                    <a href="{% url 'individual_services' %}?type=individuals_cambridge_individual" class="dropdown-item" aria-label="Only show exam preparation private individual lesson packs">Cambridge Exam Preparation</a>
                    <a href="{% url 'individual_services' %}?type=individuals_private,individuals_cambridge_individual" class="dropdown-item" aria-label="show all available individual lesson packs">All Lesson Packs</a>
                </div>
            </li>
    
            <li class="nav-item dropdown col-12 col-lg-4">
                <a class="text-uppercase nav-link text-white" href="#" id="individuals-groups-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Groups
                </a>
                <div class="dropdown-menu border-0" aria-labelledby="individuals-groups-link">
                    <a href="{% url 'individual_services' %}?type=individuals_groups" class="dropdown-item" aria-label="Only show regular reduced group courses">Reduced Groups</a>
                    <a href="{% url 'individual_services' %}?type=individuals_cambridge_group" class="dropdown-item" aria-label="Only show exam preparation reduced group courses">Cambridge Exam Preparation</a>
                    <a href="{% url 'individual_services' %}?type=individuals_groups,individuals_cambridge_group" class="dropdown-item" aria-label="Show all available courses in reduced groups">All Courses</a>
                </div>
            </li>
        </ul>    
    </div>

    {% if user.is_authenticated and user.is_superuser %}
    <div class="col-12 col-md-6 col-lg-2 my-auto py-1 py-lg-0 mb-4 mb-md-0 pl-md-0">
        <a href="{% url 'add_service' %}" class="btn btn-custom-teal rounded-pill m-2 m-lg-0" aria-label="add new service">Add Service</a>
    </div>
    {% endif %}

    <div class="col-12 col-sm-6 {% if user.is_authenticated and user.is_superuser %}col-lg-2{% else %}col-lg-4{% endif %} my-auto py-2 py-lg-0 mb-4 mb-md-0">
        <form action="{% url 'individual_services' %}" method="GET">
            <div class="input-group w-100">
                <input type="text" class="form-control rounded-searchbar" name="q"
                    placeholder="Search our site" role="searchbox">
                <div class="input-group-append">
                    <button class="form-control btn btn-light rounded-searchicon" type="submit" aria-label="search">
                        <span class="icon">
                            <i class="fas fa-search"></i>
                        </span>
                    </button>
                </div>
            </div>
        </form>
    </div>  

</div>